.list {
    line-height: 2;
    list-style-type: none;
    padding-left: 1px;
    align-content: center;
}
.link-success{
    text-decoration: none;
}
.para-desc{
    max-width: 600px;
    margin: 0 auto;
}