.bg-half-200 {
    padding: 200px 0;
    position: relative;
}

@media (max-width: 768px) {
    .bg-half-200 {
        padding: 130px 0;
        position: relative;
    }
}

#image-339-28 {
    z-index: 0;
    position: absolute;
    top: 0;
    clear: none;
    right: 0;
    width: 600px;
}
