.tns-nav {
    text-align: center;
    margin-top: 10px;
    button {
        width: 7px;
        height: 7px;
        border-radius: 3px;
        background: rgba($success, 0.75) !important;
        transition: all 0.5s ease;
        opacity: 1;
        margin: 4px;
        border: none;
        &.tns-nav-active {
            background: $success !important;
            width: 10px;
        }
    }
}
